.tetris-matrix
  display: grid
  grid-template-columns: repeat(10, 1fr)
  grid-template-rows: repeat(20, 1fr)
  grid-gap: 2px
  width: 700px
  height: 800px

.tetris-cell-area
  border: 1px solid black
  display: flex
  align-items: center
